{% extends('base.html.twig') %}

{% block h1 %}
    {{ titre }}
{% endblock %}

{% block body %}
    <style>
        .col-form-label {display:none;}
    </style>
<div class="container ">
    <div class="row justify-content-center align-center">
        <div class="col-8">
            {{ form_start(form) }}

            {{ form_label(form.nom, 'Nom de l\'association') }}
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom) }}
            {{ form_label(form.nbPersonneNecessaire, 'Nombre de bénévole') }}
            {{ form_errors(form.nbPersonneNecessaire) }}
            {{ form_widget(form.nbPersonneNecessaire) }}

            <div class="form-group mt-4">
                <lengend>Adresse</lengend>
                <label for="roles" class="form-label mt-2">{{ form_label(form.adresse) }}</label>
                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.adresse) }}
            </div>
            <br>
            <div class="justify-content-md-end text-center mb-5 mt-2">
                {{ form_label(form.send) }}
                {{ form_widget(form.send,{'attr': {'class': 'btn btn-primary mx-3'}}) }}
                {{ form_end(form) }}

                <form action="{{ url("association_view",{'id': id}) }}" style="display:inline-block; ">
                    <button class="btn btn-primary mx-3" type="submit">Retour</button>
                </form>
            </div>
                <br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}