{% extends 'base.html.twig' %}

{% block h1 %}
    Association {{ association.nom }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('#dtDynamicVerticalScrollExample').DataTable({
                "scrollX": true,
                "scrollY": "16vw",
                "paging":false,
                "searching":false,
                "info": false,
                "language": {
                    "emptyTable": "Aucun contact associé"
                }
            });
        });
    </script>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br>
                <!-- Social media detail -->
                <div class="row mb-5 gx-5">
                    <div class="col-xxl-6 mb-5 mt-5 mb-xxl-0">
                        <div class="bg-light px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">Information sur l'association</h4>
                                <!-- Old password -->
                                <div class="col-md-6">
                                    <label for="exampleInputPassword1" class="form-label">Nom</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{ association.nom }}" disabled>
                                </div>
                                <!-- New password -->
                                <div class="col-md-12">
                                    <label for="exampleInputPassword2" class="form-label">Adresse</label>
                                    <input type="text" class="form-control" id="exampleInputPassword3" value="{{ association.adresse }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xxl-6 mb-5 mt-5 mb-xxl-0" style="height: 20vw">
                        <div class="bg-light px-2 py-2 rounded" style="height: 100%;">
                                <table id="dtDynamicVerticalScrollExample" class="table table-hover table-sm" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Téléphone</th>
                                        <th scope="col">Modification</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for contact in association.contacts%}
                                                <tr class="table-light">
                                                    <th scope="col">{{ contact.nom }}</th>
                                                    <td>{{ contact.prenom }}</td>
                                                    <td>{{ contact.mail }}</td>
                                                    <td>{{ contact.telephone }}</td>
                                                    <td>
                                                        <div class="button_view" style="position: relative">
                                                            <a href="{{ url("association_modifyContact",{'AssoId': association.id,'id': contact.id}) }}" class="btn btn-sm btn-light">⚙</a>
                                                            <a class="btn btn-sm btn-light" href="{{ url("association_deleteContact",{'AssoId': association.id,'id': contact.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?');">🗑</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="justify-content-md-end text-center mb-5">
                    <a href="{{ url("association_addContact",{'id': association.id}) }}" class="btn btn-primary mx-1" type="submit" >Ajouter un contact</a>
                    <a class="btn btn-danger mx-1" href="{{ url("association_delete",{'id': association.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?');">Supprimer</a>
                    <a href="{{ url("association_edit",{'id': association.id}) }}" class="btn btn-primary mx-1" type="submit">Modifier</a>
                    <a href="{{ url("association_index") }}" class="btn btn-primary mx-1" type="submit">Retour</a>
                </div>
        </div>
    </div>

{% endblock %}