{% extends 'base.html.twig' %}

{% block h1 %}
    Association {{ association.nom }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function delete_assoCompte(assoId=0, id=0){
            $(document).ajaxStop(function(){
                window.location.reload();
            });
            if(confirm('Etes vous sur de supprimer ce contact de cette association')){
                $.ajax({
                    async: "true",
                    type: "POST",
                    url: '{{ path("association_deleteContact") }}',
                    data: {
                        assoId: assoId,
                        id:id
                    },
                    dataType: "json",
                    success : function (data){
                        console.log(data);
                    },
                    error: function(data){
                        console.log(data);
                    }
                });
            }
        }

        function delete_asso(id=0){
            $(document).ajaxStop(function(){
                var route = "{{ path('association_index')|escape('js') }}";
            });
            if(confirm('Etes vous sur de supprimer cette association')){
                $.ajax({
                    async: "true",
                    type: "POST",
                    url: '{{ path("association_delete") }}',
                    data: {
                        id: id
                    },
                    dataType: "json",
                    success : function (data){
                        console.log(data);
                    },
                    error: function(data){
                        console.log(data);
                    }
                });
            }
        }
    </script>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br>
                <!-- Social media detail -->
                <div class="row mb-5 gx-5">
                    <div class="col-xxl-6 mb-5 mt-5 mb-xxl-0">
                        <div class="bg-light px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">Information sur l'association</h4>
                                <!-- Old password -->
                                <div class="col-md-6">
                                    <label for="exampleInputPassword1" class="form-label">Nom</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{ association.nom }}" disabled>
                                </div>
                                <!-- Confirm password -->
                                <div class="col-md-6">
                                    <label for="exampleInputPassword3" class="form-label">Nombre de bénévole</label>
                                    <input type="text" class="form-control" id="exampleInputPassword3" value="{{ association.nbPersonneNecessaire }}" disabled>
                                </div>
                                <!-- New password -->
                                <div class="col-md-12">
                                    <label for="exampleInputPassword2" class="form-label">Adresse</label>
                                    <input type="text" class="form-control" id="exampleInputPassword3" value="{{ association.adresse }}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for contact in association.contacts|slice(0,2)%}

                    <div class="col-xxl-6 mb-5 mt-5 mb-xxl-0">
                        <div class="bg-light px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class=" d-flex mb-4 mt-0">Contact
                                <div class=" d-flex justify-content-end ">
                                    <a class="btn btn-sm " onclick="delete_assoCompte({{ association.id }}, {{ contact.id }})">🗑</a>
                                    {% set current_path = (app.request.get('_route')) %}
                                    <a class="btn btn-sm" href="{{ url("association_modifyContact",{'AssoId':association.id,'id': contact.id}) }}" style="display:inline-block; ">🛠</a>
                                </div>
                                </h4>
                                <div class="col-md-6">
                                    <label class="form-label"><i class="fab fa-fw me-2 "></i>Nom</label>

                                    <input type="text" class="form-control" placeholder=""  value="{{ contact.nom}}" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label"><i class="fab fa-fw me-2"></i>Prénom</label>
                                    <input type="text" class="form-control" placeholder=""  value="{{ contact.prenom }}" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label"><i class="fab fa-fw me-2"></i>Email</label>
                                    <input type="text" class="form-control" placeholder="" value="{{ contact.mail }}" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label"><i class="fab fa-fw me-2"></i>Téléphone</label>
                                    <input type="text" class="form-control" placeholder="" value="{{ contact.telephone }}" disabled>
                                </div>
                            </div> <!-- Row END -->
                        </div>
                    </div>
                    {% endfor %}

                    {% if association.contacts.toArray|length >2%}
                    <div class="col-xxl-6 mb-5 mt-5 mb-xxl-0">
                        <div class=" px-4 py-5 rounded">
                            <div class="row g-3">
                                <form action="{{ url("association_viewContacts",{'id': association.id}) }}" style="cursor: pointer;display:inline-block; ">
                                    <button class="btn btn-primary " type="submit" >Voir tous les contacts</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
                <div class="justify-content-md-end text-center mb-5">
                    <a href="{{ url("association_addContact",{'id': association.id}) }}" class="btn btn-primary mx-3" type="submit" >Ajouter un contact</a>
                    <a class="btn btn-danger mx-3" onclick="delete_asso({{ association.id }})">Supprimer</a>
                    <a href="{{ url("association_edit",{'id': association.id}) }}" class="btn btn-primary mx-3" type="submit">Modifier</a>
                    <a href="{{ url("association_index") }}" class="btn btn-primary mx-3" type="submit">Retour</a>
                </div>
        </div>
    </div>

{% endblock %}