    <script>
        $(document).ready(function(){
            $(function () {
                $("#sortable1, #sortable2").sortable({
                    connectWith: ".connectedSortable"
                }).disableSelection();
            });
        });
        function AffectationBookingInMagasin() {
            const idBenevsInput = [];
            const idBenevsOutput = [];
            const params = [];

            var listeOutput = document.getElementById("sortable1");
            var outputs = listeOutput.getElementsByTagName("li");
            if(outputs.length === 0){
                idBenevsOutput.push("null");
            }
            for (var i = 0; i < outputs.length; i++) {
                idBenevsOutput.push(outputs[i].id);
            }

            var listeInput = document.getElementById("sortable2");
            var inputs = listeInput.getElementsByTagName("li");
            if(inputs.length === 0){
                idBenevsInput.push("null");
            }
            for (var y = 0; y < inputs.length; y++) {
                idBenevsInput.push(inputs[y].id);
            }
            params[0] = '{{ start }}';
            params[1] = '{{ end }}';
            params[2] = '{{ magasin.id }}';
            var route = "{{ path('magasin_affectation', {idBenevsOutput:'idBenevsOutput', idBenevsInput:'idBenevsInput',params:'param' })|escape('js') }}";
            route = route.replace('idBenevsOutput', idBenevsOutput);
            route = route.replace('idBenevsInput', idBenevsInput);
            route = route.replace('param',params);
            window.location.href = route;
        }
    </script>
    <style>
        .connectedSortable li:hover {
            cursor: grabbing;
        }

    </style>
    <div class="container">
        <div class="row">
            <div class="col-6"style="height:30vw">
                <h3 class="text-center">Bénévoles(s) libre(s) :</h3>
                <ul class="list-group border h-100 connectedSortable" id="sortable1" >
                    {% for BookingOutput in bookingsOutput %}
                        {% for contact in BookingOutput.contacts %}
                            <li class="list-group-item" style="cursor: grab" id="{{ contact.id }}_{{ BookingOutput.id }}">{{ contact.nom }} {{ contact.prenom }} ({{ BookingOutput.beginAt|date('H:i')}}, {{ BookingOutput.endAt|date('H:i') }})</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-6" style="height:30vw">
                <h3 class="text-center">Bénévoles(s) choisi(s) :</h3>
                <ul id="sortable2" class="list-group border h-100 connectedSortable">
                    {% for BookingInput in bookingsInput %}
                        {% for contact in BookingInput.contacts %}
                            <li class="list-group-item" id="{{ contact.id }}_{{ BookingInput.id }}">{{ contact.nom }} {{ contact.prenom }} ({{ BookingInput.beginAt|date('H:i')}}, {{ BookingInput.endAt|date('H:i') }})</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <div class="d-flex justify-content-center mt-2 mb-5">
                <button class="btn  btn-lg btn-primary mt-5 mb-5" onclick="AffectationBookingInMagasin()" id="button_submit" type="submit" style="position: relative" >Affectation</button>
            </div>
        </div>
    </div>