    <script>
        $(document).ready(function(){
            $(function () {
                $("#sortable1, #sortable2").sortable({
                    connectWith: ".connectedSortable"
                }).disableSelection();
            });
        });
        function myFunction() {
            const ids = [];
            const params = [];
            var liste = document.getElementById("sortable2");
            var inputs = liste.getElementsByTagName("li");
            if(inputs.length === 0){
                ids.push("null");
            }
            for (var i = 0; i < inputs.length; i++) {
                ids.push(inputs[i].id);
            }
            params[0] = '{{start }}';
            params[1] = '{{ end }}';
            params[2] = '{{ magasin.id }}';
            var route = "{{ path('magasin_affectation', {idBenevoles:'idBenev',params:'param'})|escape('js') }}";
            route = route.replace('idBenev', ids);
            route = route.replace('param',params);
            window.location.href = route;
        }
    </script>
    <style>
        .connectedSortable li{
            cursor: pointer;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-6"style="height:30vw">
                <h3 class="text-center">Bénévoles libre(s) :</h3>
                <ul class="list-group border h-100 connectedSortable" id="sortable1" >
                    {% for booking in bookings %}
                        {% for contact in booking.contacts %}
                            <li class="list-group-item" id="{{ contact.id }}_{{ booking.id }}">{{ contact.nom }} {{ contact.prenom }} ({{ booking.beginAt|date('H:i')}}, {{ booking.endAt|date('H:i') }})</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-6" style="height:30vw">
                <h3 class="text-center">Bénévoles choisi(s) :</h3>
                <ul id="sortable2" class="list-group border h-100 connectedSortable">
                </ul>
            </div>

            <button class="btn btn-secondary mt-5" onclick="myFunction()" id="button_submit" type="submit" style="position: relative" >Affectation</button>
        </div>
    </div>