{% extends('base.html.twig') %}

{% block h1 %}
{{ titre }}
{% endblock %}

{% block body %}
    <style>
        legend { display: none; }
    </style>
    <div class="container ">
        <div class="row justify-content-center align-center">
            <div class="col-8">
                {{ form_start(form) }}
                {{ form_label(form.nom) }}
                {{ form_errors(form.nom) }}
                {{ form_widget(form.nom) }}

                {{ form_label(form.prenom) }}
                {{ form_errors(form.prenom) }}
                {{ form_widget(form.prenom) }}

                {{ form_label(form.mail) }}
                {{ form_errors(form.mail) }}
                {{ form_widget(form.mail) }}

                {{ form_label(form.telephone) }}
                {{ form_errors(form.telephone) }}
                {{ form_widget(form.telephone) }}
                <div class="justify-content-md-end text-center mb-5 mt-2">
                    {{ form_label(form.send) }}
                    {{ form_widget(form.send) }}
                    {{ form_end(form) }}

                    <form action="{{ url("magasin_view",{'id': id}) }}" style="display:inline-block; ">
                        <button class="btn btn-primary " type="submit">Retour</button>
                    </form>
                </div>
                <br>
                <br><br>
            </div>
        </div>
    </div>
    </div>

{% endblock %}