{% extends 'base.html.twig' %}
{% block h1 %}
    Liste des magasins
{% endblock %}

{% block body %}
    <div class="justify-content-md-end text-center">
            <a class="btn btn-secondary mx-1" type="submit" href="{{ url("magasin_add") }}">Ajouter un magasin</a>
            <a class="btn btn-secondary mx-1 " href="{{ url("accueil") }}" type="submit" >Retour</a>
        <div class="row d-flex justify-content-center">
            <div class="col-4 mt-2">
                {{ render(controller(
                    'App\\Controller\\SearchController::searchMag'
                )) }}
            </div>
        </div>
    </div>
    {{ include('magasin/list.html.twig', {'magasins': magasins}) }}

    {{ include('magasin/pagination.html.twig', {'nbPage': nbPage,'currentPage': currentPage}) }}


{% endblock %}
