{% extends 'base.html.twig' %}

{% block h1 %}
    Contacts de l'Association {{ magasin.nom }}
{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Modification</th>

                    </tr>
                </thead>
                <tbody>
                    {% for contact in magasin.contacts %}
                        <tr class="table-light">
                            <th scope="col">{{ contact.nom }}</th>
                            <td>{{ contact.prenom }}</td>
                            <td>{{ contact.mail }}</td>
                            <td>{{ contact.telephone }}</td>
                            <td>
                                <div class="button_view" style="position: relative">
                                    <form action="{{ url("magasin_deleteContact",{'magId': magasin.id,'id': contact.id}) }}" style="cursor: pointer;display:inline-block; ">
                                        <button class="btn btn-sm" type="submit" >🗑</button>
                                    </form>
                                    <form action="{{ url("magasin_modifyContact",{'MagId': magasin.id,'id': contact.id}) }}" style="display:inline-block; ">
                                        <button class="btn btn-sm" type="submit">🛠</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="justify-content-md-end text-center mb-5">
        <form action="{{ url("magasin_view",{'id': magasin.id}) }}" style="display:inline-block; ">
            <button class="btn btn-primary" type="submit">Retour</button>
        </form>
    </div>
{% endblock %}