{% extends 'base.html.twig' %}

{%  block body %}
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="justify-content-md-end text-center">
                <form action="{{ url("compte_add") }}" style="cursor: pointer;display:inline-block; ">
                    <button class="btn btn-secondary " type="submit" >Créer un compte</button>
                </form>
                <form action="{{ url("accueil") }}" style="cursor: pointer;display:inline-block; ">
                    <button class="btn btn-secondary " type="submit" >Retour</button>
                </form>
            </div>
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th scope="col">Mail</th>
                    <th scope="col">Rôle(s)</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                {% if comptes is null%}
                    <h3>Il n'y a pas de compte a ce nom</h3>
                {% endif %}

                {% for compte in comptes %}
                    <tr class="table-light">
                        <th scope="row">
                            {{ compte.mail }}
                        </th>
                        <td>
                            {% for role in compte.roles %}
                                {{ role }}
                            {% endfor %}
                        </td>
                        <td>
                            <form action="{{ url("compte_modify",{'id':compte.id}) }}" style="cursor: pointer;display:inline-block; ">
                                <button class="btn btn-secondary " type="submit" >⚙</button>
                            </form>
                            <form action="{{ url("compte_delete",{'id':compte.id}) }}" style="cursor: pointer;display:inline-block; ">
                                <button class="btn btn-secondary " type="submit" >🗑</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ include('association/pagination.html.twig', {'nbPage': nbPage,'currentPage': currentPage}) }}
{% endblock %}
