{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function delete_compte(id=0){
            $(document).ajaxStop(function(){
                window.location.reload();
            });
            if(confirm('êtes vous sur de supprimer ce compte')){
                $.ajax({
                    async: "true",
                    type: "POST",
                    url: '{{ path("compte_delete") }}',
                    data: {
                        id: id,
                    },
                    dataType: "json",
                    success : function (data){
                        console.log(data);
                    },
                    error: function(data){
                        console.log(data);
                    }
                });
            }
        }
    </script>
{% endblock %}

{% block h1 %} Liste des comptes {% endblock %}
{%  block body %}
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="justify-content-md-end text-center">
                <form action="{{ url("compte_add") }}" style="cursor: pointer;display:inline-block; ">
                    <button class="btn btn-secondary " type="submit" >Créer un compte</button>
                </form>
                <form action="{{ url("accueil") }}" style="cursor: pointer;display:inline-block; ">
                    <button class="btn btn-secondary " type="submit" >Retour</button>
                </form>
            </div>
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th scope="col">Mail</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Rôle(s)</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                {% if comptes is null%}
                    <h3>Il n'y a pas de compte a ce nom</h3>
                {% endif %}

                {% for compte in comptes %}
                    <tr class="table-light">
                        <th scope="row">
                            {{ compte.mail }}
                        </th>
                        <th scope="row">
                            {{ compte.contact.nom }}
                        </th>
                        <th scope="row">
                            {{ compte.contact.prenom }}
                        </th>
                        <td>
                            {% for role in compte.roles %}
                                {% if role == 'ROLE_BENEVOLE' %}
                                    Bénévole
                                {% elseif role == 'ROLE_BA' %}
                                    Membre de la banque alimentaire
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-secondary " href="{{ url("compte_modify",{'id':compte.id}) }}">⚙</a>
                            <a class="btn btn-secondary " onclick="delete_compte({{ compte.id }})">🗑</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ include('association/pagination.html.twig', {'nbPage': nbPage,'currentPage': currentPage}) }}
{% endblock %}
