
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .sr-only {display:none}
</style>



<div class="example-wrapper">
{{ form_start(form) }}

    <div class="text-center">
    {{ form_label(form.beginAt, 'Date de début') }}
    {#
    <div class="row">
        <div class="col-md-12">
            <div class="input-group date" id="datetimepicker1">
                {{ form_widget(form.beginAt, {'attr': { 'data-date-format' : 'yyyy-MM-dd HH:mm'}}) }}
                <span class="input-group-addon">
                    <span class="glyphicon-calendar glyphicon">
                    </span>
                </span>
            </div>
        </div>
    </div>#}

    <div class="row justify-content-center">
        <div class="form-group col-1 p-0 mx-1">
            {{ form_widget(form.beginAt.date.day) }}
        </div>
        /
        <div class="form-group col-1 p-0 mx-1">
            {{ form_widget(form.beginAt.date.month) }}
        </div>
        /
        <div class="form-group col-1 p-0 mx-1">
            {{ form_widget(form.beginAt.date.year) }}
        </div>
        <br/>
        <div class="form-group col-1 p-0 mx-1">
            {{ form_widget(form.beginAt.time.hour) }}
        </div>
        :
        <div class="form-group col-1 p-0 mx-1">
            {{ form_widget(form.beginAt.time.minute) }}
        </div>
    </div>
    {#
    <div class="mb-3">
        {{ form_label(form.beginAt_date_month) }}
        {{ form_widget(form.beginAt_date_month) }}
        {{ form_errors(form.beginAt_date_month) }}
    </div>
    #}


    <div class="mt-5">
        {{ form_label(form.endAt, 'Date de fin') }}

        <div class="row justify-content-center">
            <div class="form-group col-1 p-0 mx-1">
                {{ form_widget(form.endAt.date.day) }}
            </div>
            /
            <div class="form-group col-1 p-0 mx-1">
                {{ form_widget(form.endAt.date.month) }}
            </div>
            /
            <div class="form-group col-1 p-0 mx-1">
                {{ form_widget(form.endAt.date.year) }}
            </div>
            <br/>
            <div class="form-group col-1 p-0 mx-1">
                {{ form_widget(form.endAt.time.hour) }}
            </div>
            :
            <div class="form-group col-1 p-0 mx-1">
                {{ form_widget(form.endAt.time.minute) }}
            </div>
        </div>
    </div>

    <a class="btn btn-primary mt-4" href="{{ path('booking_index') }}">retour</a>
    <button class="btn btn-primary mt-4">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}
    </div>
</div>
