
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .sr-only {display:none}
</style>


<div class="example-wrapper">
    {{ form_start(form) }}

    <div class="mb-3">
        {{ form_label(form.beginAt, 'Date de début (yyyy-MM-dd  HH:mm)') }}
        {{ form_widget(form.beginAt, {'attr': {'class': 'datetimepicker1'}}) }}
        {{ form_errors(form.beginAt) }}
    </div>

    {#
    <div class="mb-3">
        {{ form_label(form.beginAt_date_month) }}
        {{ form_widget(form.beginAt_date_month) }}
        {{ form_errors(form.beginAt_date_month) }}
    </div>
    #}

    <div class="mb-3">
        {{ form_label(form.endAt, 'Date de fin (yyyy-MM-dd  HH:mm)') }}
        {{ form_widget(form.endAt,{'attr': {'class': 'datetimepicker1'}}) }}
        {{ form_errors(form.endAt) }}
    </div>

    <a class="btn btn-primary mt-2" href="{{ path('booking_index') }}">retour</a>
    <button class="btn btn-primary mt-2">{{ button_label|default('Valider') }}</button>

    <script type="text/javascript">
        jQuery.datetimepicker.setLocale('fr');
        $(function () {
            $('.datetimepicker1').datetimepicker(
                {
                    defaultDate:'{{ date_start }}',
                    defaultTime:'08:00',
                    allowTimes:[
                        '08:00',
                        '09:00',
                        '10:00',
                        '11:00',
                        '12:00',
                        '13:00',
                        '14:00',
                        '15:00',
                        '16:00',
                        '17:00',
                        '18:00',
                        '19:00',
                        '20:00',
                    ],
                    minDate: '{{ date_start }}',
                    maxDate: '{{ date_end }}',
                    format:'Y-m-d H:i'
                }
            );
        });
    </script>
    {{ form_end(form) }}
</div>
