{# templates/booking/calendar.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align:center;">
        <a class="btn btn-primary mb-2" href="{{ path('booking_new') }}">Nouveau Creneaux</a>
        <a class="btn btn-primary mb-2" href="{{ path('booking_export') }}">Export</a>
    </div>
    <div id="calendar-holder"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript" >

        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                timeZone: 'UTC+1',
                defaultView: 'timeGrid',
                visibleRange: {
                    start: '2023-01-15',
                    end: '2023-01-18'
                },
                allDaySlot: false,
                header: false,
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                    },
                ],
                eventDrop: function(info) {
                    var dateBegin = calendar.formatIso(info.event._instance.range.start);
                    var dateEnd = calendar.formatIso(info.event._instance.range.end);

                    $.ajax({
                        async: "true",
                        type: "POST",
                        url: '{{ path('booking_edit_auto') }}',
                        data: {
                            id: info.event.id,
                            start: dateBegin,
                            end: dateEnd
                        },
                        dataType: "json",
                        success : function (data){
                            console.log(data);
                        },
                        error: function(data){
                            console.log(data);
                        }
                    });
                },

                eventResize: function(info) {
                    var dateBegin = calendar.formatIso(info.event._instance.range.start);
                    var dateEnd = calendar.formatIso(info.event._instance.range.end);

                    $.ajax({
                        async: "true",
                        type: "POST",
                        url: '{{ path('booking_edit_auto') }}',
                        data: {
                            id: info.event.id,
                            start: dateBegin,
                            end: dateEnd
                        },
                        dataType: "json",
                        success : function (data){
                            console.log(data);
                        },
                        error: function(data){
                            console.log(data);
                        }
                    });
                },
                plugins: [ 'interaction', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
            });
            calendar.render();
            //var serialized = document.documentElement.innerHTML;
            /*var serialized =
                '<head>' +
                document.getElementsByTagName('head')[0].innerHTML +
                '</head><body>' +
                document.body.innerHTML +
                '</body>';
            console.log(serialized);*/
        });
    </script>
{% endblock %}