<div style="text-align:center;">
    {% if magasin is null %}
        {% set magasinId = '0' %}
    {% else %}
        {% set magasinId =  magasin.id  %}
    {% endif %}
    <a class="btn btn-primary mx-1 mb-2" href="{{ path('booking_new',{'magId':  magasinId }) }}">Nouveau Creneaux</a>
    <a class="btn btn-primary mx-1 mb-2" href="{{ path('booking_export',{'magId': magasinId}) }}">Export</a>
    {% if is_granted('ROLE_BA') %}
        <a class="btn btn-primary mx-1 mb-2" href="{{ path('magasin_index') }}">Retour</a>
    {% endif %}
</div>
<div id="calendar-holder"></div>

    <script type="text/javascript" >
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var info = "";

            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                timeZone: 'UTC+1',
                defaultView: 'timeGrid',
                visibleRange: {
                    start: '2023-01-15',
                    end: '2023-01-18'
                },
                allDaySlot: false,
                header: false,
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({ contact_id: {{ app.user.contact.id }},magasin_id: {{ magasinId}} }),
                        },
                    },
                ],
                eventDrop: function(info) {
                    var dateBegin = calendar.formatIso(info.event._instance.range.start);
                    var dateEnd = calendar.formatIso(info.event._instance.range.end);
                    $.ajax({
                        async: "true",
                        type: "POST",
                        url: '{{ path('booking_edit_auto') }}',
                        data: {
                            id: info.event.id,
                            start: dateBegin,
                            end: dateEnd
                        },
                        dataType: "json",
                        success : function (data){
                            console.log(data);
                        },
                        error: function(data){
                            console.log(data);
                        }
                    });
                },

                eventResize: function(info) {
                    var dateBegin = calendar.formatIso(info.event._instance.range.start);
                    var dateEnd = calendar.formatIso(info.event._instance.range.end);
                    $.ajax({
                        async: "true",
                        type: "POST",
                        url: '{{ path('booking_edit_auto') }}',
                        data: {
                            id: info.event.id,
                            start: dateBegin,
                            end: dateEnd
                        },
                        dataType: "json",
                        success : function (data){
                            console.log(data);
                        },
                        error: function(data){
                            console.log(data);
                        }
                    });
                },
                plugins: [ 'interaction', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
            });
            calendar.render();
        });
    </script>