{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block h1 %}Affectation de {{ magasin.nom }} ({{ startDate|date('j/m') }}){% endblock %}
{% block body %}
    <div class="container ">
        <div class="row justify-content-center align-center">
            <div class="col-8">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Date de debut</th>
                            <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Date de fin</th>
                            <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Nombre de personne nécessaire</th>
                            <td>{{ booking.nbPersonneNecessaire }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center mt-2 mb-5">
                    {% if is_granted('ROLE_BA') %}
                        <a class="btn btn-lg btn-primary m-2" href="{{ path('magasin_booking',{'magId': magId}) }}">Retour</a>
                    {% else %}
                        <a class="btn btn-lg btn-primary m-2" href="{{ path('accueil') }}">Retour</a>
                    {% endif %}
                    {{ include('booking/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    {% include 'magasin/affectMagasin.html.twig' with { 'magasin' : magasin,'bookingsInput' : bookingsInput,'bookingsOutput' : bookingsOutput, 'start' : startDate|date('Y-m-d H:i:s'),'end' : endDate|date('Y-m-d H:i:s') } %}
{% endblock %}
