{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    {% if booking.title %}
        <h1>{{ booking.title }}</h1>
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Date de debut</th>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('booking/_delete_form.html.twig') }}
    <a href="{{ path('accueil') }}" class="btn btn-primary m-2">retour</a>
{% endblock %}
